.DS_Store
.RData
.RDataTmp
.Rhistory
.Rprofile
.Rproj.user/
Plots/
SO.rds
TK_75.Rproj
Tables/
data/
donor_1_seurat.rds
donor_2_seurat.rds
donor_3_seurat.rds
environment.RData
renv/
scRNAseq_processing.Rmd
scRNAseq_processing.nb.html
scRNAseq_processing_Seuratv5.nb.html
so.all_integrated_seurat.rds
